* {
    padding: 0;
    margin: 0;
}

.main {       
    
    .container {
        max-width: 1920px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 100px;
        margin: 0 auto;

        .logo {
            width: 210px;
            height: 68px;
        }

        .nav {
            .list {
                list-style: none;
                display: flex;
                justify-content: space-between;

                .link {
                    &:first-of-type{
                        padding-right: 57px;
                    }
                    
                    a {
                        font-size: 24px;
                        color: #FF6060;
                        text-decoration: none;
                        padding: 8px 0px;
                        position: relative;                    
                    }

                    &.active {
                        text-decoration: underline;
                        color: #FF6060;

                        
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 556px) and (max-width: 980px){
    .main {
        .container {
            width: 100%;
            margin: 0;
            padding: 20px 40px;
      

            .nav {
                .list {
                    width: 100%;
    
                    .link {
                        &:first-of-type{
                            padding-right: 40px;
                        }
                        
                        a {
                            font-size: 18px;
                        padding: 8px 0px;

                                       
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 555px){
    .main {
        .container {
            width: 100%;
            margin: 0;
            padding: 20px 20px;
            .logo {
                width: 144px;
                height: 48px;
            } 

            .nav {
                .list {
                    width: 100%;
    
                    .link {
                        &:first-of-type{
                            padding-right: 0px;
                        }
                        
                        a {
                            font-size: 12px;
                            padding: 8px 10px;
                                       
                        }
                    }
                }
            }
        }
    }
}