* {
    padding: 0;
    margin: 0;
}

.main {       
    
    .container {
        max-width: 1920px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 100px;
        margin: 0 auto;

        .logo {
            width: 210px;
            height: 68px;
        }

        .nav {
            .list {
                list-style: none;
                display: flex;
                justify-content: space-between;

                .link {
                    &:first-of-type{
                        padding-right: 57px;
                    }
                    
                    a {
                        font-size: 24px;
                        color: #FF6060;
                        text-decoration: none;
                        padding: 8px 12px;
                        position: relative;                    
                    }

                    &.active {
                        text-decoration: underline;
                        color: #FF6060;

                        
                    }
                }
            }
        }
    }

}