.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    padding: 0 100px;


    .pictureContainer {
        position: relative;
        width: 100%;
        height: 415px;


        .picture {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            border-radius: 25px;
        }
        .leftArrow {
            font-size: 95px;
            color: white;
            position: absolute;
            top: 125px;
            left: 15px ;
            z-index: 2;
            cursor: pointer;
            user-select: none;


        }
        .rightArrow {
            font-size: 95px;
            color: white;
            position: absolute;
            top: 125px;
            right: 15px;
            z-index: 2;
            cursor: pointer;
            user-select: none;
        }
        .counter {
            font-size: 18px;
            color: white;
            position: absolute;
            bottom: 24px;
            right: 50%;
            z-index: 2;
        }
    }
}

