* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color : rgb(0, 105, 180);
/* Setting the body to be a flexbox with a column direction and a height of 100vh. */
body {
  position: relative;
  min-height: 100vh;
}

// #root {
// min-height: 100vh;
// display: flex;
// flex-direction: column;
// position: relative;

// }

.App {
  background-color: red;
  height: 1000px;
  width: 1000px;
  // position: relative;
  // display: flex;
  // flex-direction: column;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: $primary-color;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
